<?xml version="1.0" encoding="utf-8"?>
<component name="com_agenda" author="Le Dinh Thuong" email="navaroiss@gmail.com">
	<table name="agenda_category" sort_name="category">
		<field type="int" length="11" auto_increment="true" primary_key="true">id</field>
		<field type="varchar" length="255">name</field>
		<field type="text">value</field>
		<field type="int" length="10" belong="id">parent</field>
	</table>
	<table name="agenda_event" sort_name="event">
		<field type="int" length="11" auto_increment="true" primary_key="true">id</field>
		<field type="varchar" length="250">title</field>
		<field type="date" design="%Y-%m-%d">date</field>
		<field type="text">content</field>
		<field type="file" file_type="image">image</field>
		<field type="file" file_type="document, compress">document</field>
                <field type="listfile" folder="smilies">icon</field>
		<field type="tree" table_name="agenda_category" table_field_name="name" table_field_primary="id" table_field_parent="parent">catid</field>
	</table>
</component>